.gallery-add {
  border: 1px dashed var(--light30);
  border-radius: 20px;
  width: 110px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}