.hero__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap);
  width: 100%;
  height: min-content;
  border-radius: 32px;
  padding: 24px 12px 12px 12px;
  background-color: var(--light60);
}