.question__button {
  display: flex;
  flex-direction: column;
  flex-basis: 24px;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  border: 2px var(--nephritis100) solid;
  border-radius: 50%;
  cursor: pointer;
}

.question__button svg {
  transition: transform 0.5s linear;
}

.question__button_opened svg {
  transform: rotate(180deg);
}

.question__arrow {
  color: var(--nephritis100);
}