.back-to-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding-block: 20px;
}

.back-to-main :is(span, svg) {
  color: var(--nephritis100);
}

.back-to-main:hover :is(span, svg) {
  color: var(--nephritis120);
}

.back-to-main:active :is(span, svg) {
  --center: var(--light80);

  color: var(--navy);
}