/* .advantages__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 480px;
} */

.advantages__item {
  display: flex;
  width: 100%;
}

.advantages__item > * {
  flex-shrink: var(--flex-shrink);
}

.advantages__images {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-basis: 49.26%;
  justify-content: space-evenly;
  border-radius: 80px;
  overflow: hidden;
  background-color: var(--light30);
}
