.advantages__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 480px;
}

.advantages__images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--light30);
  border-radius: 80px;
  overflow: hidden;
  position: relative;
}