.tab {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 205px;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  background-color: transparent;
  cursor: pointer;
}

.tab_current {
  background-color: var(--light100);
  border-radius: 20px;
}

.tab__icon {
  color: var(--dark80);
}

.tab__icon_current {
  color: var(--navy);
}