.footer {
  margin: 20px;
  border-radius: 80px;
  padding: 80px 136px;
  background-color: var(--navy);
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__text::before {
  content: "©";
}

.footer__link {
  color: var(--nephritis100);
}