.footer {
  margin: 20px;
  background-color: var(--navy);
  display: flex;
  flex-direction: column;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}