.question {
  --animation-duration: .5s;

  display: flex;
  flex-direction: column;
  border-radius: 32px;
  padding: 36px 44px;
  background-color: var(--light80);
  cursor: pointer;
}

.question__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.question__top_clamped>p {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.question__content {
  overflow: hidden;
}

.question__content_opened {
  opacity: 1;
  transition: opacity var(--animation-duration) ease-in, max-height var(--animation-duration) linear;
}

.question__content_closed {
  max-height: 0;
  opacity: 0;
  transition: opacity .1ms ease-out, max-height var(--animation-duration) linear;
}