.calendar__top {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Unbounded";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--navy);
}

.calendar__button {
  transform: rotateZ(90deg);
  filter: brightness(0) saturate(100%) invert(16%) sepia(22%) saturate(3257%) hue-rotate(171deg) brightness(99%) contrast(93%);
}

.calendar__button:hover {
  filter: brightness(0) saturate(100%) invert(73%) sepia(21%) saturate(1447%) hue-rotate(89deg) brightness(89%) contrast(85%);
}