.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.button-icon svg {
  color: var(--nephritis100);
}

.button-icon:hover svg {
  color: var(--nephritis120);
}

.button-icon:active svg {
  color: var(--light100);
}