.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.socials svg {
  color: var(--nephritis100);
}

.socials:hover svg {
  color: var(--nephritis120);
}

.socials:active svg {
  color: var(--light100);
}