.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  /* background: linear-gradient(180deg, var(--dark100) 0%, rgba(2, 0, 0, 0) 100%);
  position: sticky;
  top: 0;
  z-index: 2; */
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}