.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8.13vw;
  padding-block-start: 20px;
  background-color: transparent;

}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}