.badge-list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  border-radius: 20px;
  padding: 8px 12px;
  background-color: var(--light80);
}

.badge-list__item_active {
  background-color: var(--navy);
}

.badge-list__item_decorated {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.badge-list__item_decorated::after {
  content: url("../../../assets/icons/close.svg");
  width: 20px;
  height: 20px;
}

.text_budge {
  letter-spacing: 0;
}