.calendar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 372px;
  height: min-content;
  border-radius: 32px;
  padding: 24px 12px 12px 12px;
  background-color: var(--light60);
}

.calendar__top {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Unbounded";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--navy);
}

.calendar__button {
  transform: rotateZ(90deg);
  filter: brightness(0) saturate(100%) invert(16%) sepia(22%) saturate(3257%) hue-rotate(171deg) brightness(99%) contrast(93%);
}

.calendar__button:hover {
  filter: brightness(0) saturate(100%) invert(73%) sepia(21%) saturate(1447%) hue-rotate(89deg) brightness(89%) contrast(85%);
}

.calendar__week {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 348px;
  height: 20px;
}

.calendar__days {
  display: grid;
  width: 348px;
  grid-template-columns: repeat(7, 36px);
  grid-template-rows: repeat(6, 36px);
  gap: 16px;
}

.calendar__day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--light80);
  font-family: "Unbounded";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--nephritis100);
}

.calendar__day:hover {
  background-color: var(--navy);
  color: var(--light100);
}

.current1 {
  background-color: var(--navy);
  color: var(--light100);
}

.current2 {
  background-color: var(--navy);
  color: var(--light100);
}

.current {
  background-color: var(--nephritis100);
  color: var(--light100);
}