.badge-list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  border-radius: 20px;
  padding: 8px 12px;
  background-color: var(--light80);
  cursor: pointer;
}

.badge-list__item:hover {
  background-color: var(--navy);
}

.badge-list__item:hover span {
  color: var(--light100);
}

.badge-list__item_active {
  background-color: var(--navy);
}

.text_budge {
  letter-spacing: 0;
}