.advantages__tab {
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.advantages__tab span {
  cursor: pointer;
}

.advantages__tab_current {
  border-radius: 100px;
  background-color: var(--nephritis100);
  cursor: unset;
}

.advantages__tab_current span {
  cursor: default;
}

.advantages__tab:not(.advantages__tab_current):hover>span {
  color: var(--dark80);
}